/* overall styling  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --buttonDark: rgb(28, 28, 129);
  --buttonLight: rgb(201, 50, 201);
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.hide {
  display: none;
}

.btn {
  background-color: var(--buttonDark);
  color: white;
  border: none;
  font-size: 1.5rem;
  border-radius: 8px;
  padding: 10px 18px;
  margin: 0.6rem 0;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--buttonLight);
}

/* top navigation  */
.top-nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: 3rem 3rem;
}
.top-nav ul li {
  list-style: none;
}
#high-scores {
  cursor: pointer;
  color: var(--buttonLight);
}
#high-scores:hover {
  opacity: 0.6;
}

/* start section  */
.start-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
  align-items: center;
  width: 60%;
  margin: 4rem auto;
}
.start-sec h1 {
  font-size: 3rem;
  text-align: center;
}
.start-sec p {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin: 2rem 0;
}

/* question section  */
.question-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 4rem auto;
  height: 10rem;
  width: 50%;
}
.question-sec h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.question-sec ul li {
  list-style: none;
}
.btn-list {
  display: flex;
  flex-direction: column;
}
/* .verdict h2 {
} */

/* verdict section  */

.verdict h2 {
  border-top: 2px solid rgba(0, 0, 0, 0.479);
  margin-top: 20rem;
  width: 50%;
  margin: 10em auto 0;
  padding-top: 1rem;
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.479);
}

/* end game  */
.end-game {
  position: absolute;
  top: 15rem;
  left: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50rem;
  height: 40rem;
  margin: 0 auto;
}
.end-game h3 {
  font-size: 3rem;
  padding: 0.6rem 0;
}
.end-game h4 {
  font-size: 2.5rem;
  font-weight: 400;
  padding: 0.3rem 0;
}
.end-game form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40rem;
  font-size: 2.4rem;
}
.end-game form input {
  width: 45%;
  height: 50px;
  font-size: 90%;
  border-radius: 5px;
}

/* high score section  */
.high-score-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 40rem;
  margin: 10rem auto;
}
.high-score-container h5 {
  font-size: 3em;
  margin-bottom: 1rem;
}
.high-score-container #show-high-scores {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  background-color: lightblue;
  border-radius: 5px;
  height: 3rem;
  width: 50rem;
  padding-left: 10px;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 1109px) {
  .end-game {
    left: 15%;
  }
  .high-score-container #show-high-scores {
    align-items: center;
    font-size: 2rem;
    background-color: lightblue;
    border-radius: 5px;
    height: 3rem;
    width: 30rem;
    padding-left: 10px;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 751px) {
  .question-sec h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .verdict h2 {
    margin-top: 20rem;
    margin: 11em auto 0;
    padding-top: 1rem;
  }
  .end-game {
    left: 10%;
  }
  .end-game h3 {
    font-size: 2.5rem;
  }
  .end-game h4 {
    font-size: 2rem;
  }
  .end-game form {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 15rem;
    font-size: 2rem;
  }
  .high-score-container {
    margin: 10rem 1rem;
  }
  .high-score-container #show-high-scores {
    width: 25rem;
  }
}
